# 목차

### 순서

1. 데이터 셋 확인
2. 탐색적 데이터 분석
3. 특성 공학
4. 모델 개발 및 학습
5. 모델 예측 및 평가

In [1]:
# 필요한 라이브러리

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# 데이터 불러오기 

train=pd.read_csv('./data02/train.csv')
test=pd.read_csv('./data02/test.csv')
submission=pd.read_csv('./data02/submission_sample.csv')

In [3]:
# 데이터 셋 확인

train.head()

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
0,1,open,choongnam,73,20071228,175.0,nursing_hospital,4.217530e+09,0.0,3.961135e+09,...,7.589937e+08,2.228769e+08,0.000000e+00,5.361169e+08,3.900000e+08,2.619290e+09,1.271224e+09,62.0,64.0,same
1,3,open,gyeongnam,32,19970401,410.0,general_hospital,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,801.0,813.0,same
2,4,open,gyeonggi,89,20161228,468.0,nursing_hospital,1.004522e+09,515483669.0,4.472197e+08,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,234.0,1.0,same
3,7,open,incheon,141,20000814,353.0,general_hospital,7.250734e+10,0.0,7.067740e+10,...,3.775501e+10,1.701860e+10,9.219427e+09,2.073641e+10,1.510000e+10,1.295427e+10,7.740829e+09,663.0,663.0,same
4,9,open,gyeongnam,32,20050901,196.0,general_hospital,4.904354e+10,0.0,4.765605e+10,...,5.143259e+10,3.007259e+10,1.759375e+10,2.136001e+10,1.410803e+10,5.561941e+06,9.025550e+09,206.0,197.0,same

In [4]:
# 데이터셋 확인

test.head()

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
0,2,NaN,incheon,139,19981125.0,300.0,general_hospital,6.682486e+10,0.000000e+00,6.565709e+10,...,5.540643e+10,5.068443e+10,3.714334e+10,4.720000e+09,4.690000e+09,1.608540e+10,8.944587e+09,693,693,same
1,5,NaN,jeju,149,20160309.0,44.0,hospital,3.495758e+10,0.000000e+00,3.259270e+10,...,6.730838e+10,4.209828e+10,2.420000e+10,2.521009e+10,1.830000e+10,3.789135e+09,0.000000e+00,379,371,same
2,6,NaN,jeonnam,103,19890427.0,276.0,general_hospital,2.326031e+10,2.542571e+09,2.308749e+10,...,0.000000e+00,2.777589e+10,2.182278e+10,0.000000e+00,0.000000e+00,0.000000e+00,1.638540e+10,NaN,NaN,NaN
3,8,NaN,busan,71,20100226.0,363.0,general_hospital,0.000000e+00,0.000000e+00,0.000000e+00,...,1.211517e+10,9.556237e+09,4.251867e+09,2.558931e+09,0.000000e+00,3.914284e+10,0.000000e+00,760,760,same
4,10,NaN,jeonbuk,26,20040604.0,213.0,general_hospital,5.037025e+10,0.000000e+00,4.855803e+10,...,4.395973e+10,7.535567e+09,3.298427e+09,3.642417e+10,2.134712e+10,2.574488e+10,1.507269e+10,437,385,same

train.csv - 의료기관이 폐업했는지 여부를 포함하여 최근 2개년의 재무정보와 병원 기본정보   

test.csv - 폐업 여부를 제외하고 train.csv와 동일   

sample_submission.csv - inst_id와 open과 close를 예측하는 OC 두개의 열로 구성. OC의 값은 open 예측일 경우 1,   close 예측일 경우 0.  



inst_id - 각 파일에서의 병원 고유 번호  

OC – 영업/폐업 분류, 2018년 폐업은 2017년 폐업으로 간주함

sido – 병원의 광역 지역 정보

sgg – 병원의 시군구 자료

openDate – 병원 설립일

bedCount - 병원이 갖추고 있는 병상의 수

instkind – 병원, 의원, 요양병원, 한의원, 종합병원 등 병원의 종류

·        종합병원 : 입원환자 100명 이상 수용 가능

·        병원 : 입원 환자 30명 이상 100명 미만 수용 가능

·        의원 : 입원 환자 30명 이하 수용 가능

·        한방 병원(한의원) : 침술과 한약으로 치료하는 의료 기관.  

 

revenue1 – 매출액, 2017(회계년도)년 데이터를 의미함

salescost1 – 매출원가, 2017(회계년도)년 데이터를 의미함

sga1 - 판매비와 관리비, 2017(회계년도)년 데이터를 의미함

salary1 – 급여, 2017(회계년도)년 데이터를 의미함

noi1 – 영업외수익, 2017(회계년도)년 데이터를 의미함

noe1 – 영업외비용, 2017(회계년도)년 데이터를 의미함

Interest1 – 이자비용, 2017(회계년도)년 데이터를 의미함

ctax1 – 법인세비용, 2017(회계년도)년 데이터를 의미함

Profit1 – 당기순이익, 2017(회계년도)년 데이터를 의미함

liquidAsset1 – 유동자산, 2017(회계년도)년 데이터를 의미함

quickAsset1 – 당좌자산, 2017(회계년도)년 데이터를 의미함

receivableS1 - 미수금(단기), 2017(회계년도)년 데이터를 의미함

inventoryAsset1 – 재고자산, 2017(회계년도)년 데이터를 의미함

nonCAsset1 – 비유동자산, 2017(회계년도)년 데이터를 의미함

tanAsset1 – 유형자산, 2017(회계년도)년 데이터를 의미함

OnonCAsset1 - 기타 비유동자산, 2017(회계년도)년 데이터를 의미함

receivableL1 – 장기미수금, 2017(회계년도)년 데이터를 의미함

debt1 – 부채총계, 2017(회계년도)년 데이터를 의미함

liquidLiabilities1 – 유동부채, 2017(회계년도)년 데이터를 의미함

shortLoan1 – 단기차입금, 2017(회계년도)년 데이터를 의미함

NCLiabilities1 – 비유동부채, 2017(회계년도)년 데이터를 의미함

longLoan1 – 장기차입금, 2017(회계년도)년 데이터를 의미함

netAsset1 – 순자산총계, 2017(회계년도)년 데이터를 의미함

surplus1 – 이익잉여금, 2017(회계년도)년 데이터를 의미함

 

revenue2 – 매출액, 2016(회계년도)년 데이터를 의미함

salescost2 – 매출원가, 2016(회계년도)년 데이터를 의미함

sga2 - 판매비와 관리비, 2016(회계년도)년 데이터를 의미함

salary2 – 급여, 2016(회계년도)년 데이터를 의미함

noi2 – 영업외수익, 2016(회계년도)년 데이터를 의미함

noe2 – 영업외비용, 2016(회계년도)년 데이터를 의미함

interest2 – 이자비용, 2016(회계년도)년 데이터를 의미함

ctax2 – 법인세비용, 2016(회계년도)년 데이터를 의미함

profit2 – 당기순이익, 2016(회계년도)년 데이터를 의미함

liquidAsset2 – 유동자산, 2016(회계년도)년 데이터를 의미함

quickAsset2 – 당좌자산, 2016(회계년도)년 데이터를 의미함

receivableS2 - 미수금(단기), 2016(회계년도)년 데이터를 의미함

inventoryAsset2 – 재고자산, 2016(회계년도)년 데이터를 의미함

nonCAsset2 – 비유동자산, 2016(회계년도)년 데이터를 의미함

tanAsset2 – 유형자산, 2016(회계년도)년 데이터를 의미함

OnonCAsset2 - 기타 비유동자산, 2016(회계년도)년 데이터를 의미함

receivableL2 – 장기미수금, 2016(회계년도)년 데이터를 의미함

Debt2 – 부채총계, 2016(회계년도)년 데이터를 의미함

liquidLiabilities2 – 유동부채, 2016(회계년도)년 데이터를 의미함

shortLoan2 – 단기차입금, 2016(회계년도)년 데이터를 의미함

NCLiabilities2 – 비유동부채, 2016(회계년도)년 데이터를 의미함

longLoan2 – 장기차입금, 2016(회계년도)년 데이터를 의미함

netAsset2 – 순자산총계, 2016(회계년도)년 데이터를 의미함

surplus2 – 이익잉여금, 2016(회계년도)년 데이터를 의미함

employee1 – 고용한 총 직원의 수, 2017(회계년도)년 데이터를 의미함

employee2 – 고용한 총 직원의 수, 2016(회계년도)년 데이터를 의미함

ownerChange – 대표자의 변동

### 데이터 분석 순서.

#### 1. train , test 합체.

#### 2. 결측값 제거. 혹은 대체

In [5]:
n=train.shape[0]
data=pd.concat([train,test],axis=0).reset_index(drop=True)

In [6]:
# 탐색적 데이터 분석 

# object 데이터 타입 

categorical_cols=[col for col in data.columns if data[col].dtype=='object']
# data[categorical_cols].isna().sum()
# data[categorical_cols].loc[data['instkind'].isnull()]

In [7]:
# bed count 49 개 많은건가?
# data.loc[421,:]

# 살펴보니 traditional_hospital 과 비슷해보인다.  
# data.groupby('instkind')['bedCount'].mean() 

data.loc[421,'instkind']='traditional_hospital'

In [8]:
#구글링 결과. 가능성 있어 보인다.
# http://www.medicaltimes.com/Users/News/NewsView.html?ID=90342

data.loc[193,'instkind']='general_hospital'

In [9]:
# 분석을 위해서
data.loc[data['employee1']=='1,637','employee1']=1637
data.loc[data['employee1']=='1,816','employee1']=1816
data.loc[data['employee1']=='1,065','employee1']=1065
data['employee1']=data['employee1'].fillna(data['employee1'].median()).astype(int)

# data.groupby('instkind')['employee1'].mean()
data.loc[426,'instkind']='general_hospital'

In [10]:
data.loc[data['employee2']=='1,547','employee2']=1547
data.loc[data['employee2']=='1,104','employee2']=1104
data.loc[data['employee2']=='1,065','employee2']=1065
data['employee2']=data['employee2'].fillna(data['employee2'].median()).astype(int)

In [11]:
# 탐색적 데이터 분석
# 데이터 타입 숫자

numeric_cols=[col for col in data.columns if data[col].dtype!='object']

In [12]:
# 10개 씩 있는 뭔가 수상.
# data[numeric_cols].isna().sum()

drop_idx=data[(data.isnull().sum(axis=1) >= 10)].index[:-2]
n-=len(drop_idx)
data=data.drop(drop_idx,axis=0)

In [13]:
# ownerChange 처리

data.loc[data['ownerChange'].isnull(),'ownerChange']='no.know'

In [14]:
# 시간 처리 몰라 평균 시간 넣기.

data['openDate']=pd.to_datetime(data['openDate'],format='%Y%m%d')
data.loc[data['openDate'].isnull(),'openDate']=pd.to_datetime(data['openDate'],format='%Y%m%d').mean()

In [15]:
# 날짜 다시 변경 

data['openDate']=data['openDate'].dt.date

def to_integer(time):
    return 10000*time.year + 100*time.month + time.day

data['openDate']=data['openDate'].apply(lambda x:to_integer(x))

In [16]:
# 중앙값 넣기

data.loc[data['bedCount'].isnull(),'bedCount']=data['bedCount'].median()

In [17]:
# test NAN 값 채우기

test_cols=[col for col in data.columns if data[col].isna().sum()>0]

for col in test_cols:
    if col=='OC':
        continue
    data[col]=data[col].fillna(data[col].median())

### 특성 공학.

#### 1. 특성 숫자화
#### 2. 특성 표준화

In [18]:
# 숫자화

from sklearn.preprocessing import LabelEncoder

encoder=LabelEncoder()

for col in categorical_cols:
    if col=='OC':
        continue
    data[col]=encoder.fit_transform(data[col])

In [19]:
# 표준화

from sklearn.preprocessing import StandardScaler

z=[col for col in data[numeric_cols] if data[col].mean()>100000]
z_score=StandardScaler()

for col in z:
    if col=='inst_id':
        continue
    data[col]=z_score.fit_transform(data[col].values.reshape(-1,1))

### 모델 개발 및 학습

#### 1. 모델 randomforest
#### 2. 학습 ( 교차 검증 ) 
#### 3. 예측 및 평가

In [20]:
# imbalance 하다.

data['OC'].value_counts(normalize=True)

open      0.948805
 close    0.051195
Name: OC, dtype: float64

In [21]:
# 데이터 나누기

y_train=data.pop('OC').iloc[:n]
X_train=data.iloc[:n,1:]
X_test=data.iloc[n:,1:]

y_train=y_train.apply(lambda x:1 if x=='open' else 0)

In [22]:
# 확인

X_train.shape,X_test.shape,y_train.shape

((293, 56), (127, 56), (293,))

In [23]:
# linearSVC 안된다.

from sklearn.model_selection import KFold
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

cv=KFold(n_splits=5,shuffle=True,random_state=2020)
models=[]

for train_idx,valid_idx in cv.split(X_train):
    # 데이터 나누기 
    X_tr,X_val=X_train.iloc[train_idx],X_train.iloc[valid_idx]
    y_tr,y_val=y_train.iloc[train_idx],y_train.iloc[valid_idx]
    
    # 모델 개발 및 학습
    model=SVC(random_state=2020,
              kernel='linear',
              verbose=True)
    model.fit(X_tr,y_tr)
    models.append(model)
    
    # 예측 및 평가
    pred=model.predict(X_val)
    score=(accuracy_score(pred,y_val))
    print(score)

[LibSVM]0.9322033898305084
[LibSVM]0.9322033898305084
[LibSVM]0.9830508474576272
[LibSVM]0.896551724137931
[LibSVM]0.9482758620689655

In [36]:
pred=models[4].predict(X_test)

In [37]:
submission['OC']=pred
submission.OC.value_counts()

1    124
0      3
Name: OC, dtype: int64

In [38]:
# submission.to_csv('./data02/submission_SVM(linear)_models[2].csv',index=False)

In [39]:
# submission.to_csv('./data02/submission_SVM(linear)_models[4].csv',index=False)